{% extends "base.html" %}
{% load static %}
{% block title %} FoodnFries {% endblock %}
{% block content %}

<br><br><br><br><br>

<div class="hero-area hero-img2">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<h2 class="mt-5 text-warning">Modify order and make payments</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">

            <div class="col-md-6">

                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Your cart is empty</strong></p>
                        <a href="{% url 'fnfwebapp:home' %}#menu_start" class="btn btn-outline-warning mt-2 text-danger">back to menu</a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0 text-danger">Receipt</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Items
                                    <span id="subtotal">&#8358; {{basket.get_subtotal_price}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>&#8358; 0.00</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span id="total"><strong>&#8358; {{basket.get_total_price}}</strong></span>
                                </li>
                            </ul>
                            <button type="button" disabled class="btn btn-primary btn-lg btn-block">
                                Checkout securely
                            </button>
                            <!-- Redirect to login page if user is not authenticated -->
                            <a href="{% url 'fnfwebapp:login' %}" class="primary-btn">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    Login to Checkout
                                </button>
                            </a>
                            <!-- Redirect to payment page if user is authenticated -->
                            <a href="" class="primary-btn">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    Checkout securely
                                </button>
                            </a>
                        
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0 text-danger">Cart Summary</h5>
                    </div>
                
                    <div class="card-body product-item" data-index="{{product.id}}">
                        <!-- Single item -->
                        <div class="row">

                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">

                                    <img src="{{ product.image.url }}" class="w-100" alt="{{product.title}}" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)">
                                        </div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{product.title}}</strong></p>

                                <button type="button" id="update-button" data-index="{{product.id}}"
                                    class="update-button text-decoration-none small ps-3 btn btn-success">Update</button>


                                <button type="button" id="delete-button" data-index="{{product.id}}"
                                    class="delete-button text-decoration-none small btn btn-danger">Delete</button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="">
                                    <select id="select{{product.id}}" class="form-select w-50"
                                        aria-label="Default select example">
                                        <option value="" selected disabled hidden>{{item.qty}}</option>

                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>

                                    </select>

                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong>&#8358; {{product.price}}</strong>
                                </p>
                                <!-- Price -->
                            </div>

                        </div>
                        <!-- Single item -->

                        <hr class="my-4" />


                    </div>
                    
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Expected shipping delivery time-frame</strong></p>
                        <p class="mb-0">30 minutes after order has been placed</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                            alt="Visa" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                            alt="American Express" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                            alt="Mastercard" />

                    </div>
                </div>
            </div>

        
        </div>
    </div>
</section>




<script>
    // Delete Item
    $(document).on('click', '.delete-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                productid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                $('.product-item[data-index="' + prodid + '"]').remove();
                document.getElementById("subtotal").innerHTML = json.subtotal;
                document.getElementById("total").innerHTML = json.subtotal;
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) { }
        });
    })

    // Update Item
    $(document).on('click', '.update-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '',
            data: {
                productid: $(this).data('index'),
                productqty: $('#select' + prodid + ' option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.qty;
                document.getElementById("subtotal").innerHTML = json.subtotal;
                document.getElementById("total").innerHTML = json.subtotal
            },
            
            error: function (xhr, errmsg, err) { }
        });
    })
</script>

{% endblock %}
